# libs & utils
numpy
hf-transfer
tokenizers
psutil
python-dotenv

# UI
textual
rich

# STT
sounddevice
faster-whisper
sherpa-onnx

# TTS
piper-tts
soundfile

# OP
llama-cpp-python
sentence-transformers