# libs & utils
torch
numpy
hf-transfer
rich
psutil
python-dotenv

# STT
silero-vad
sounddevice
faster-whisper
sherpa-onnx

# TTS
piper-tts
playsound3
pydub

# OP
llama-cpp-python
sentence-transformers